# Server Configuration
PORT=8080
FRONTEND_URL=http://localhost:8081

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres1
DB_NAME=userdb
DB_SSLMODE=disable

# JWT Configuration (256+ character Base64 encoded secret)
JWT_SECRET=T9GKvpb3oX5qqo3sd6+OJ2iqldexr+sGcW8NbNiWYLjLvLv9hlDNr2siDo4AjSYOyOqXsxmMX+/Uh3LhP+x2ww==
JWT_EXPIRATION_HOURS=6
